<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h1>Microservice Client eCommerce</h1>
    <p th:text="${cartMessage}"></p>
    <p th:text="${cartToString}"></p>
    <p th:text="${productsInCart}"></p>
    <a th:href="@{/order}">
        Passer commande
    </a>
</div>
<a th:href="@{|/|}">
    <p th:text="Home"></p>
</a>

    <div class="row">
        <div th:each="product : ${productsInCart}" class="col-md-2 my-1">
            <p>
                <span th:text="${'Nom: ' + product.name}"></span>
                <span th:text="${' Prix unitaire: ' + product.price+ '€'}"></span>
            </p>

        </div>
    </div>
    <div>
        <br>
        <p th:text="${'Prix total : '+ priceTotal+ '€'}"></p>
    </div>


</body>
</html>