<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="header">
        <h1>Microservice Client eCommerce</h1>
    </div>
    <p th:text="${cartMessage}"></p>
    <a th:href="@{|/order/${cartId}|}">
        Passer commande
    </a>
</div>
<br>
<br>
<br>
<a th:href="@{|/|}">
    Home
</a>

    <div class="row">
        <div th:each="product : ${productsInCart}" style="white-space: pre-line">
            <p >
                <span th:text="${'Nom: ' + product.name}"></span>
                <span th:text="${' Prix unitaire: ' + product.price+ '€'}"></span>
            </p>
        </div>
    </div>
    <div>
        <br>
        <p th:text="${'Prix total : '+ priceTotal+ '€'}"></p>
    </div>


</body>
</html>