<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Microservice Client</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="header">
        <h1>Microservice Client eCommerce</h1>
    </div>
    <a class="buttonCreateCart" th:href="@{|/cart|}">
        <p text="Creer un cart"></p>
    </a>
    <div class="row">
        <div class="product" th:each="product : ${products}">
            <a class="imageContainer" th:href="@{|/product-detail/${product.id}|}">
                <img class="image" th:src="${product.illustration}"/>
            </a>
            <div>
                <h1 th:text="${product.name}"></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>