<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<div>
    <div class="header">
        <h1>Microservice Client eCommerce</h1>
    </div>
    <h1 th:text="${product.get.name}"></h1>
    <h2 th:text="${product.get.price} + ' €'"></h2>
    <div class="imageContainer">
        <img class="imageDetail" th:src="${product.get.illustration}"/>
    </div>
    <form th:action="@{'/cart/{id}'(id=${cartId})}" class="row" method="post">
        <p>Quantité</p>
        <input type="number" value="1" id="quantity" name="quantity">
        <button class="buttonAddCart" type="submit">
            Add to cart
        </button>
    </form>

    <a class="buttonReturn" th:href="@{|/|}">
        <p th:text="Retour"></p>
    </a>
</div>
</body>
</html>