.header {
    display: flex;
    height: 100px;
    background-color: royalblue;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.row {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 20px;
    margin: 20px;
}

.imageContainer {
    margin: 5px;
    text-align: center;
}

.image {
    border-radius: 20px;
    max-width:400px;
}

.imageDetail {
    max-width:600px;
}

button, a {
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

button.buttonAddCart {
    background-color: royalblue;
    color: white;
}

button.buttonAddCart:hover{
    background-color: cornflowerblue;
}

button.buttonAddCart:active{
    background-color: steelblue;
}

a.buttonReturn {
    position: absolute;
    top: 125px;
    background-color: lightgrey;
}


a.buttonReturn:hover {
    position: absolute;
    top: 125px;
    background-color: whitesmoke;
}

a.buttonReturn:active {
    position: absolute;
    top: 125px;
    background-color: darkgrey;
}